.headline {
    font-size:36px;
    font-weight:normal;
    padding:5px;
    border-bottom:2px solid gray;
}
table{
    border-collapse: collapse;
}
th,td {
    border:1px solid #ccc;
}
th {
    background:#f1f2f2;
    font-weight:normal;
}
